body { 
    margin: 0; 
    background-color: #2D3250; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    font-family: sans-serif; 
    color: #F6F6F6; 
}

#game-container {
    position: relative;
}
